.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    color: #CFCFCF;
    max-width: 100%;
    height: 5vh;
    font-size: 1.5rem;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 4em;
}

.navbar__item a {
    color: #CFCFCF;
    transition: color 0.2s;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.navbar__item a:hover {
    color: #4A90E2;
    text-decoration: none;
}



@media screen and (max-width: 1180px) {
    .navbar {
        width: 100%;
        height: 5vh;
        font-size: 0.8em;
    }

    .navbar__list {
        gap: 3.5rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        height: 5vh;
        font-size: 1em;
    }

    .navbar__list {
        gap: 1.4rem;
    }
}